.nav-logo {
    width: 390px;
    height: 90px;
    background: url(../img/uwicrest_sta.png) no-repeat;
}

.content-wrap {
    margin: 75px 115px;
}

.navbar .navbar-inner {
    background: #0e60c3;
}

.navbar-fixed-top {
    height 400px;
}
