{% extends 'index.html' %}
{% load i18n %}
{% load maps_tags %}
{% load layers_tags %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="hero-unit">
    <h1>{% trans "UWI GeoNode" %}</h1>
    <div class="hero-unit-content">
      <div class="intro">
        <img src = 'http://uwigsmona.weebly.com/uploads/1/3/2/4/13241997/1345164334.png'>
        <p>
            {% blocktrans %}
            UWI's GeoNode is setup for students and faculty to collaboratively 
            create and share maps for their class projects. It is maintained by the 
            UWI Geographical Society. 
            {% endblocktrans %}
        </p>
        <span>
            For more information about the UWI Geographical society,
            <a href="http://uwigsmona.weebly.com/">visit our website</a>
        </span>
      </div>
      <div class="btns">
        <a class="btn btn-large" href="{% url "layer_browse" %}">
          {% trans "Explore Layers" %}
        </a>
        <a class="btn btn-large" href="{% url "maps_browse" %}">
          {% trans "Explore Maps" %}
        </a>
      </div>
    </div>
  </div>
  {% endblock %}
